.btn-wrapper {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    background-color: rgb(49, 47, 47);
    color: #f5f8fa;
    flex: 1;
    outline: 1px solid #3d4347;
}

.btn-wrapper:active:hover {
    background-color: rgb(56, 54, 54);
}

.operator {
    background-color: rgb(26, 23, 22);
    color: #fafbfc;
}

.operator:active:hover {
    background-color: rgb(31, 29, 29);
}